@{
    ViewData["Title"] = "About This Project";
}
<h3>@ViewData["Title"]</h3>

<p>This project was developed for the Senior Project class at Kansas State University (CIS 598). The idea
    behind the website is to be a database in which a person can create an account and keep a tallied list
    of ingredients and then search for recipes that they have the ingredients for (or are just a few short 
    of). Additional features such as collections of favorite recepies, user-submitted recipes, and others 
    may be implemented at a later date as well.</p>
