@{
    ViewData["Title"] = "Contact";
    ViewData["Message"] = "Feel free to contact me with any questions or suggestions";

}
<h3>@ViewData["Title"]</h3>
<p></p>
<p>@ViewData["Message"]</p>

<address>
    <strong>Address</strong> <br />
    Zakary Kedrovsky<br />
    1530 College Ave.<br />
    Apt. A7 <br />
    Manhattan, KS 66502
</address>

<address>
    <strong>Email</strong><br />
    <a href="mailto:alexkedro@ksu.edu">alexkedro@ksu.edu</a><br />
    <strong>Phone</strong><br />
    (913) 325-6876
</address>
